# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
.env.production
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Testing
coverage/

# Prisma
apps/api/prisma/dbml/

# Docker volumes (local dev)
docker/.data/
